.navigation-box {
  position: absolute;
  right: calc(100% - 25px);
  top: 0;
  z-index: 10;
  background: #FFFFFF;
  border: 1px solid #E9E9E9;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.navigation-item {
  width: 100%;
  padding: 22px 26px; }
  .navigation-item:hover {
    background: #660091;
    -webkit-box-shadow: 0px 3px 16px rgba(0, 0, 0, 0.04);
    box-shadow: 0px 3px 16px rgba(0, 0, 0, 0.04); }
  .navigation-item:hover .navigation-box__title {
    color: #fff; }
  .navigation-item:hover .navigation-item__img svg {
    fill: #fff; }
  .navigation-item:first-child {
    border-radius: 10px 10px 0px 0px; }
  .navigation-item:last-child {
    border-radius: 0px 0px 10px 10px; }

.navigation-item__img svg {
  fill: #26252D; }

.navigation-box__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 1.18;
  color: #26252D;
  max-width: 70px; }
