.footer{
	color: $text-dark;
	font-family: $main-font;

	ul{
		margin-bottom: 0;
	}

	.footer-inner{
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: calc(100% + 45px * 2);
		margin-left: -45px;
		margin-right: -45px;
		
		.footer-block{
			padding: 0 45px;
		}
	}

	.footer-row{
		&.first{
			padding: 18px 0;
			background: #F4F8FB;
		}

		&.second{
			padding: 21px 0 50px;

			p{

			}

			.footer-inner{
				align-items: flex-end;
			}
		}
	}

	p{
		font-size: 14px;
		line-height: 1.714;
	}

	.footer-copyright{
		font-weight: bold;
		text-align: right;
	}

	.footer-small-nav{
		display: flex;
		align-items: center;

		.nav-links{
			display: flex;

			li{
				margin-right: 20px;

				&:last-child{
					margin-right: 0;
				}

				a{
					font-size: 14px;
					line-height: 1.714;
					color: $text-dark;

					&:hover,
					&:focus{
						color: $accent;
					}
				}

				&.current-menu-item,
				&.current-menu-parent{
					a{
						color: $accent;
						font-weight: 500;
					}
				}
				
				&.current-menu-item{
					a{
						cursor: default;
					}
				}
			}
		}

		.socials-list{
			margin-left: 28px;
		}
	}

	@media screen and (max-width: 991px){
		.footer-left,
		.footer-copyright{
			width: 280px;
		}

		.footer-inner{
			width: calc(100% + 15px * 2);
			margin-left: -15px;
			margin-right: -15px;
			
			.footer-block{
				padding: 0 15px;
			}
		}
	}

	@media screen and (max-width: 767px){
		.footer-left,
		.footer-copyright{
			width: 100%;
		}

		.footer-row{
			&.first{
				.footer-inner{
					flex-direction: column;

					.footer-block{
						margin-bottom: 24px;

						&:last-child{
							margin-bottom: 0;
						}
					}
				}
			}

			&.second{
				.footer-inner{
					justify-content: space-between;
				}
			}
		}
	}

	@media screen and (max-width: 575px){
		.footer-row{
			&.second{
				.footer-inner{
					flex-direction: column;
					align-items: center;

					.footer-block{
						margin-bottom: 24px;
						text-align: center;

						&:last-child{
							margin-bottom: 0;
						}
					}
				}
			}

			.footer-copyright{
				text-align: center;
			}
		}

		.footer-small-nav{
			flex-direction: column;

			.socials-list{
				margin-left: 0;
				margin-top: 24px;
			}
		}
	}
}

.footer-nav{
	display: grid;
	grid-template-columns: 225px 130px 130px;
	grid-gap: 60px;

	.footer-caption{
		font-size: 14px;
		line-height: 1.714;
		margin-bottom: 20px;
		font-weight: bold;
		margin-top: 0;
		font-family: $main-font;
	}

	ul{
		li{
			font-size: 14px;
			line-height: 2;

			a{
				color: $text-dark;
				font-family: $main-font;

				&:hover,
				&:focus{
					color: $accent;
				}
			}

			&.current-menu-item,
			&.current-menu-parent{
				a{
					color: $accent;
					font-weight: 500;
				}
			}
			
			&.current-menu-item{
				a{
					cursor: default;
				}
			}
		}
	}

	@media screen and (max-width: 1199px){
		grid-template-columns: repeat(3, 1fr);
	}

	@media screen and (max-width: 991px){
		grid-gap: 30px;
	}

	@media screen and (max-width: 575px){
		grid-template-columns: 1fr 1fr;
		grid-gap: 30px 20px;
	}
}

.socials-list{
	display: flex;
	align-items: center;

	li{
		margin-right: 10px;

		&:last-child{
			margin-right: 0;
		}

		a{
			color: #4C4F57;

			svg{
				width: 18px;
				height: 18px;
				fill: currentcolor;
				display: block;
			}

			&:hover,
			&:focus{
				color: $accent;
			}
		}
	}
}