.breadcrumbs, .product-breadcrumbs {
	margin: 11px 0;
	position: relative;
	z-index: 3;
	ul{
		display: flex;
		flex-wrap: wrap;
		font-size: 12px;
		line-height: 14.63px;
		font-weight: 400;
		margin: 0;
		color: #222222;
		font-family: 'Montserrat', sans-serif;
		li{
			margin-right: 8px;

			&:after{
				content: '';
				display: inline-block;
				width: 3px;
				height: 5px;
				margin-left: 8px;
				background: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 14'%3E%3Cpath d='m1 13 6-6-6-6' stroke='%23666' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") no-repeat center center / contain;
			}

			a{
				text-decoration: none;
				font-family: 'Montserrat', sans-serif;
				color: #222222;
				font-size: 12px;
				line-height: 14.63px;
				&:hover,
				&:focus{
					color: $accent;
					text-decoration: underline;
				}
			}

			&:last-child{
				a{
					pointer-events: none;
				}

				&:after{
					display: none;
				}
			}
		}
	}
	&.product-breadcrumbs {

	}
}
