.plans-section {
    padding-top: 100px;
}
.switch-tabs-block {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}
.switch-wrapper{
    display: flex;
    align-items: center;
}

.left-btn {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75;
    color: #3a3a3a;
}
.block-middle {
    width: 55px;
    height: 26px;
    border-radius: 48px;
    background: #f7e3ff;
    border-radius: 48px;
    margin: 0 20px;
    position: relative;

    &::before{
        content: "";
        position: absolute;
        top: 5px;
        left: 4px;
        bottom: 4px;
        width: 17px;
        height: 17px;
        background-color:#660091;
        border-radius: 100%;
        transition: transform .3s ease-in;
    }
}
.block-middle.left::before{
    transform: translateX(30px);
    transition: transform .3s ease-in;
}


.annual {
    margin-right: 72px;
    position: relative;


    &::before{
        content: "";
        position: absolute;
        right: 11px;
        bottom: 29px;
        background-image: url("data:image/svg+xml,%3Csvg width='29' height='28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 28C1 23 1 .5 29 .5' stroke='%23660091'/%3E%3C/svg%3E");
        width: 28px;
        height: 28px;
    }


}
.save-up {
    position: absolute;
    bottom: 45px;
    left: 97px;
    white-space: nowrap;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.42;
    color: #FFFFFF;
    text-transform: uppercase;
    background: #660091;
    border-radius: 48px;
    padding: 4px 10px;
}


.plans-grid{
    display: grid;
    grid-template-columns: repeat(4, 255px);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    justify-content: center;
    margin-bottom: 24px;
    padding-top: 17px;
}
.plan-card {
    background: #ffffff;
    border: 1px solid #e4e4e4;
    border-radius: 5px;
    height: 370px;
    padding: 50px 46px 0px;
}

.popular{
    border: 1px solid #660091;
    border-radius: 5px;
    transform: translateY(-30px);
    height: 430px;
}

.card-label{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.42;
    color: #660091;
    text-transform: uppercase;
    background: #f7e3ff;
    border-radius: 48px;    
    margin-bottom: 16px;
    text-align: center;
    padding: 7px 11px;
}
.card-name {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.4;
    color: #000000;
    text-align: center;
    margin-bottom: 30px;
}
.card-price {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 50px;
    line-height: 1.22;
    color: #000000;
    text-align: center;
    margin-bottom: 10px;
}
.card-description{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 2;
    text-align: center;
    color: #9d9d9d;
    margin-bottom: 33px;
}
.card-features {
    li{
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.21;
        color: #222222;
        position: relative;
        padding-left: 16px;
    
        &::before{
            content: "";
            position: absolute;
            left: -18px;
            top: 50%;
            transform: translateY(-50%);
            width: 24px;
            height: 24px;
            background-image: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Ccircle cx='12' cy='12' r='9' fill='%23660091'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12 1a11 11 0 1 0 0 22 11 11 0 0 0 0-22Zm4.77 9.14a1 1 0 1 0-1.54-1.28l-4.3 5.16-2.22-2.23a1 1 0 0 0-1.42 1.42l3 3a1 1 0 0 0 1.48-.07l5-6Z' fill='%23F7E3FF'/%3E%3C/svg%3E");
            background-repeat: no-repeat;
        }
    }
    li:not(:first-child){
        margin-top: 22px;
    }
}


.plans__btn{
    display: block;
    margin: 0 auto;
    text-align: center;
    max-width: 233px;
    padding: 16px 25px;
}




@media(max-width:1160px){
    .plans-grid {
        grid-template-columns: repeat(2, 255px);
    }
    .plan-card {
        height: 100%;
        padding-bottom: 35px;
    }
    
    .popular{
        transform: translateY(0px);
        height: 100%;
    }
}

@media(max-width:600px){
    .switch-tabs-block{
        flex-direction: column-reverse;
        align-items: flex-start;
    }
}


@media(max-width:560px){
    .plans-grid {
        grid-template-columns: repeat(1, 255px);
    }
}

