.blog-section{
	position: relative;
	padding-bottom: 80px;

	&:before{
		content: '';
		display: block;
		width: 100%;
		height: 410px;
		position: absolute;
		left: 0;
		top: 0;
		background: #F4F8FB;
	}

	.container{
		position: relative;
		z-index: 2;
	}

	.section-nav{
		margin-bottom: 30px;
		position: relative;
		z-index: 5;

		@media screen and (min-width: 992px){
			padding: 30px 46px 6px;
			width: calc(100% + 46px * 2);
			margin-left: -46px;
			margin-right: -46px;
			border-radius: 10px;
			background: #EFEDFA;
			margin-bottom: 40px;

			.tabs-nav-wrapper{
				margin-bottom: 14px;
			}
		}
	}

	.section-grid{
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 30px;

		@media screen and (max-width: 991px){
			grid-template-columns: 1fr 1fr;
		}

		@media screen and (max-width: 575px){
			grid-template-columns: 1fr;
		}
	}

	.section-footer{
		margin-top: 40px;
		display: flex;
		justify-content: center;
	}
}

.blog-card{
	position: relative;
	border-radius: 4px;
	background: #fff;
	border: 1px solid #E4E4E4;
	display: flex;
	flex-direction: column;
	height: 100%;
	transition: all $t;

	&:hover,
	&:focus-within{
		border-color: $accent;
	}

	.card-image{
		position: relative;
		
		&:before{
			content: '';
			display: block;
			padding-top: 220px;
		}
		
		img{
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			display: block;
			object-fit: cover;
			object-position: center bottom;
			border-radius: 4px 4px 0 0;
		}
	}

	.card-category-block{
		position: absolute;
		left: 20px;
		top: 30px;
		padding: 5px 9px;
		display: flex;
		align-items: center;
		border-radius: 11px;
		background: #F4F8FB;
		color: $accent;
		font-size: 10px;
		line-height: 1.2;
		font-weight: 500;

		.block-icon{
			width: 12px;
			height: 12px;
			display: block;
			fill: currentcolor;
			flex: none;
			margin-right: 4px;
		}

		& ~ &{
			display: none;
		}
	}

	.card-content{
		flex: auto;
		padding: 20px 20px 15px;
	}

	.card-footer{
		padding: 0 20px 30px;
	}

	.card-top{
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-bottom: 15px;
	}

	.card-date{
		font-size: 12px;
		line-height: 1.25;
		color: $text-color;
		text-transform: uppercase;
		font-weight: 600;
	}

	.card-time-to-read{
		font-size: 12px;
		line-height: 1.25;
		font-weight: 500;
		color: #4E8EFD;
	}

	.card-caption{
		font-size: 18px;
		line-height: 1.3;
		margin-bottom: 10px;
		color: $text-color;
		font-weight: 600;

		a{
			color: inherit;

			&:hover,
			&:focus{
				color: $accent;
				text-decoration: none;
			}
		}
	}

	.card-excerpt{
		font-size: 14px;
		line-height: 1.5;
		max-height: calc(1.5em * 5);
		overflow: hidden;
	}

	.card-author-block{
		display: flex;
		align-items: center;

		.block-image{
			width: 40px;
			height: 40px;
			border-radius: 50%;
			margin-right: 15px;
			flex: none;

			img{
				display: block;
				width: 40px;
				height: 40px;
				object-fit: cover;
				object-position: center center;
			}
		}

		.block-name{
			font-style: normal;
			color: $accent;
			font-weight: 500;
			font-size: 13px;
			line-height: 1.2;
		}
	}
}

.nav-select-block{
	.block-field{
		width: 100%;
		position: relative;

		.block-opener{
			appearance: none;
			box-shadow: none;
			cursor: pointer;
			height: 52px;
			padding: 10px 60px 10px 20px;
			border-radius: 3px;
			background: #fff;
			border: 1px solid #CDCDCD;
			@include p-big;
			font-family: inherit;
			color: $text-color;
			width: 100%;
			outline: none !important;
			position: relative;
			transition: all $t;
			text-align: left;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;

			&:after{
				content: '';
				display: block;
				width: 20px;
				height: 20px;
				border-radius: 50%;
				pointer-events: none;
				cursor: pointer;
				background: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Ccircle cx='10' cy='10' r='10' transform='rotate(-90 10 10)' fill='%23F7E3FF'/%3E%3Cpath d='m10.68 12.47 3.31-3.32a.6.6 0 0 0 .2-.46.6.6 0 0 0-.2-.46l-.38-.39a.67.67 0 0 0-.93 0l-2.47 2.48-2.46-2.47a.67.67 0 0 0-.93 0l-.38.39a.63.63 0 0 0-.19.46c0 .18.06.33.19.46l3.31 3.32c.13.12.29.18.47.18s.33-.06.46-.19Z' fill='%23660091'/%3E%3C/svg%3E") no-repeat center center / contain;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				right: 20px;
			}

			&:focus-visible{
				border-color: $accent;
			}
		}

		.block-list{
			padding: 11px 22px 16px;
			border-radius: 0 0 3px 3px;
			transition: all $t;
			transform: translateY(30px);
			opacity: 0;
			visibility: hidden;
			position: absolute;
			left: 0;
			top: 100%;
			width: 100%;
			background: #fff;
			border: 1px solid #CDCDCD;

			@include p-big;
			color: $text-color;

			li{
				margin-bottom: 5px;

				&:last-child{
					margin-bottom: 0;
				}
			}

			a{
				color: inherit;

				&:hover,
				&:focus{
					color: $accent;
					text-decoration: underline;
				}
			}

			.subitem{
				margin-left: 20px;
			}
		}

		&:focus-within{
			.block-opener{
				border-bottom-left-radius: 0;
				border-bottom-right-radius: 0;
			}

			.block-list{
				transform: translateY(0);
				opacity: 1;
				visibility: visible;
			}
		}
	}

	@media screen and (max-width: 767px){
		display: grid;
		grid-template-columns: 100%;

		.block-field{
			width: 100%;
		}
	}
}