.catalog-section{
	padding: 64px 0 130px;

	.section-inner{
		display: grid;
		grid-template-columns: 255px 1fr;
		grid-gap: 30px;
	}

	.section-sidebar{
		padding-top: 70px;
	}

	.filters-row{
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 30px;
		margin-bottom: 27px;
	}

	.select-field{
		width: 100%;
		grid-column: -2 / -1;
		position: relative;

		&:after{
			content: '';
			display: block;
			width: 8px;
			height: 6px;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 16px;
			pointer-events: none;
			background: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 6'%3E%3Cpath d='m4.43 4.81 3.3-3.32a.6.6 0 0 0 .2-.46.6.6 0 0 0-.2-.46L7.37.2a.67.67 0 0 0-.93 0L3.96 2.66 1.49.19a.67.67 0 0 0-.93 0L.2.58a.63.63 0 0 0-.19.46c0 .18.06.34.19.46L3.5 4.82c.13.12.28.19.47.19.18 0 .33-.07.46-.2Z' fill='%23660091'/%3E%3C/svg%3E") no-repeat center center / contain;
		}

		select{
			width: 100%;
			appearance: none;
			border: 1px solid #DFDFDF;
			padding: 5px 15px;
			height: 43px;
			box-shadow: none;
			border-radius: 5px;
			font-size: 15px;
			line-height: 2;
			font-weight: 500;
			color: #000;
			cursor: pointer;
			transition: all $t;
			font-family: inherit;

			&:focus{
				outline: none;
				border-color: $accent;
			}
		}
	}

	@media screen and (max-width: 1199px){
		.section-inner{
			grid-template-columns: 220px 1fr;
			grid-gap: 16px;
		}

		.filters-row{
			grid-template-columns: repeat(2, 1fr);
			grid-gap: 16px;
		}
	}

	@media screen and (max-width: 767px){
		.section-inner{
			grid-template-columns: 1fr;
			grid-gap: 30px;
		}

		.section-sidebar{
			padding-top: 0;
		}

		.filters-row{
			grid-template-columns: 1fr;
		}
	}
}

.products-grid{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 30px;

	@media screen and (max-width: 1199px){
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 16px;
	}

	@media screen and (max-width: 479px){
		grid-template-columns: 1fr;
	}
}

.sidebar-category-block{
	margin-bottom: 30px;

	&:last-child{
		margin-bottom: 0;
	}

	.block-header{
		display: flex;
		align-items: center;
		justify-content: space-between;
		cursor: pointer;
	}

	.block-caption{
		font-size: 16px;
		line-height: 1.75;
		font-weight: 400;
		color: $accent;
	}

	.block-content{
		display: none;
		padding-top: 13px;
	}

	.ac-opener{
		width: 15px;
		height: 10px;
		flex: none;
		display: block;
		margin-left: 20px;
		background: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 15 10'%3E%3Cpath d='m8.33 9.06 6.24-6.25c.24-.23.36-.51.36-.86 0-.36-.12-.63-.36-.87l-.72-.73a1.26 1.26 0 0 0-1.74 0L7.46 5.01 2.8.36a1.26 1.26 0 0 0-1.74 0l-.72.73c-.23.24-.35.53-.35.87 0 .34.12.63.35.86L6.6 9.07c.25.24.53.35.88.35.34 0 .63-.12.86-.36Z' fill='%23660091'/%3E%3C/svg%3E") no-repeat center center / contain;
		transition: all $t;
	}

	&.opened{
		.ac-opener{
			transform: rotate(-180deg);
		}
	}

	.small-search-block{
		margin-bottom: 13px;
	}

	.checkboxes-list{
		.list-caption{
			font-size: 20px;
			line-height: 1.4;
			font-weight: 600;
			color: #222;
			margin-bottom: 6px;
		}

		.checkbox{
			margin-bottom: 16px;

			&:last-child{
				margin-bottom: 0;
			}
		}
	}
}

.product-card{
	padding: 16px 16px 26px;
	border: 1px solid #E4E4E4;
	border-radius: 5px;

	.card-image{
		margin-bottom: 23px;

		img{
			display: block;
			max-width: 100%;
			height: auto;
		}
	}

	.card-info{
		margin-bottom: 20px;
		color: #000;
		font-weight: 600;
		font-size: 14px;
		line-height: 24px;

		li{
			display: flex;
			align-items: baseline;
		}

		strong{
			font-weight: inherit;
		}

		.item-value{
			color: #55A73F;
			margin-left: 0.3em;

			&.excellent,
			&.good,
			&.poor{
				display: flex;
				align-items: center;

				&:after{
					content: '';
					display: block;
					width: 18px;
					height: 18px;
					background: no-repeat;
					background-position: center center;
					background-size: contain;
					flex: none;
					margin-left: 5px;
				}
			}

			&.excellent{
				&:after{
					background-image: url(../img/content-images/emoji/love.png);
				}
			}

			&.good{
				&:after{
					background-image: url(../img/content-images/emoji/smile.png);
				}
			}

			&.poor{
				color: #E64747;

				&:after{
					background-image: url(../img/content-images/emoji/sad.png);
				}
			}

			&.red{
				color: #E64747;
			}
		}
	}

	.star-rating{
		margin-left: 5px;
	}

	.card-description{
		font-size: 14px;
		line-height: 1.4;
		color: #222;
	}

	.card-footer{
		margin-top: 15px;
	}

	.more-link{
		font-size: 12px;
		line-height: 2;
		display: flex;
		align-items: center;
		color: $accent;
		font-weight: 600;

		&:before,
		&:after{
			content: '';
			display: block;
			width: 13px;
			height: 13px;
			background: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 13 14'%3E%3Cpath d='M6.5 13.5a6.5 6.5 0 1 0 0-13 6.5 6.5 0 0 0 0 13Z' fill='%23660091'/%3E%3Cpath d='M8.62 6.61 5.84 3.84a.5.5 0 0 0-.39-.16.5.5 0 0 0-.38.16l-.32.32c-.11.1-.16.23-.16.38s.05.28.16.4L6.82 7 4.75 9.07a.56.56 0 0 0 0 .78l.32.32c.1.1.24.15.39.15.15 0 .28-.05.39-.15l2.78-2.78c.1-.1.15-.24.15-.39a.55.55 0 0 0-.16-.39Z' fill='%23fff'/%3E%3C/svg%3E") no-repeat center center / contain;
			flex: none;
			transition: all $t;
		}

		&:before{
			margin-right: 6px;
			margin-left: -18px;
			opacity: 0;
			visibility: hidden;
		}

		&:after{
			margin-left: 6px;
		}

		&:hover,
		&:focus{
			&:before{
				margin-left: 0;
				opacity: 1;
				visibility: visible;
			}

			&:after{
				opacity: 0;
				visibility: hidden;
			}
		}

		.link-text{
			display: block;
		}
	}
}

.star-rating{
	display: grid;
	grid-template-columns: repeat(5, 11px);
	grid-gap: 4px;

	--empty-bg: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11 11'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.805 6.7a.546.546 0 0 1 .157-.483l2.135-2.08-2.95-.428a.546.546 0 0 1-.412-.299L5.416.737 4.097 3.41a.546.546 0 0 1-.411.299l-2.95.428 2.134 2.08a.546.546 0 0 1 .157.484l-.504 2.938 2.639-1.387a.546.546 0 0 1 .508 0l2.64 1.387-.505-2.938ZM.327 3.646l3.28-.477L5.074.195c.129-.26.556-.26.684 0l1.467 2.973 3.28.477a.382.382 0 0 1 .212.65L8.343 6.609l.561 3.268a.381.381 0 0 1-.553.401L5.416 8.735l-2.934 1.543a.38.38 0 0 1-.553-.402l.56-3.268L.115 4.295a.381.381 0 0 1 .212-.65ZM5.268.437Z' fill='%234C4F57'/%3E%3C/svg%3E");

	--half-bg: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11 11'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.973 6.7a.546.546 0 0 1 .157-.483l2.134-2.08-2.95-.428a.546.546 0 0 1-.41-.299L5.583.737 4.264 3.41a.546.546 0 0 1-.41.299l-2.95.428 2.134 2.08a.546.546 0 0 1 .157.484l-.504 2.938L5.33 8.252a.546.546 0 0 1 .508 0l2.64 1.387-.505-2.938ZM.495 3.646l3.28-.477L5.242.195c.129-.26.556-.26.684 0l1.467 2.973 3.28.477a.382.382 0 0 1 .212.65L8.511 6.609l.561 3.268a.381.381 0 0 1-.553.401L5.584 8.735 2.65 10.278a.38.38 0 0 1-.553-.402l.56-3.268L.283 4.295a.381.381 0 0 1 .212-.65Z' fill='%234C4F57'/%3E%3Cpath d='M5.584 8.735 2.65 10.278a.38.38 0 0 1-.553-.402l.56-3.268L.283 4.295a.381.381 0 0 1 .212-.65l3.28-.477L5.242.195c.129-.26.556-.26.684 0l1.467 2.973c-.944 2.84-.944 2.84-1.809 5.567Z' fill='%234C4F57'/%3E%3C/svg%3E");

	--full-bg: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 11'%3E%3Cpath d='M9.628 10.25a.381.381 0 0 0 .152-.373l-.152.372Zm0 0a.38.38 0 0 1-.4.028l.4-.029Zm-.117-.327s0 0 0 0a.108.108 0 0 1-.043.105h0a.107.107 0 0 1-.114.009h0L6.42 8.494a.273.273 0 0 0-.254 0L3.23 10.036h0a.106.106 0 0 1-.113-.008h0a.108.108 0 0 1-.043-.106s0 0 0 0l.56-3.268a.273.273 0 0 0-.078-.241L1.182 4.099s0 0 0 0a.108.108 0 0 1 .06-.184l3.28-.476a.273.273 0 0 0 .206-.15L6.195.316h0c.008-.015.035-.043.097-.043s.09.028.097.043h0l1.467 2.973c.04.08.117.137.206.15l3.28.476s0 0 0 0a.108.108 0 0 1 .06.185s0 0 0 0L9.029 6.413a.273.273 0 0 0-.079.242l.56 3.268Z' fill='%234C4F57' stroke='%234C4F57' stroke-width='.546' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");

	.star{
		display: block;
		width: 11px;
		height: 11px;

		--star-bg: var(--empty-bg);

		background: var(--star-bg) no-repeat center center / contain;
	}

	&.rating-5,
	&.rating-05{
		.star:nth-child(1){
			--star-bg: var(--half-bg);
		}
	}

	&.rating-10,
	&.rating-15,
	&.rating-20,
	&.rating-25,
	&.rating-30,
	&.rating-35,
	&.rating-40,
	&.rating-45,
	&.rating-50{
		.star:nth-child(1){
			--star-bg: var(--full-bg);
		}
	}

	&.rating-20,
	&.rating-25,
	&.rating-30,
	&.rating-35,
	&.rating-40,
	&.rating-45,
	&.rating-50{
		.star:nth-child(2){
			--star-bg: var(--full-bg);
		}
	}

	&.rating-30,
	&.rating-35,
	&.rating-40,
	&.rating-45,
	&.rating-50{
		.star:nth-child(3){
			--star-bg: var(--full-bg);
		}
	}

	&.rating-40,
	&.rating-45,
	&.rating-50{
		.star:nth-child(4){
			--star-bg: var(--full-bg);
		}
	}

	&.rating-50{
		.star:nth-child(5){
			--star-bg: var(--full-bg);
		}
	}

	&.rating-15{
		.star:nth-child(2){
			--star-bg: var(--half-bg);
		}
	}

	&.rating-25{
		.star:nth-child(3){
			--star-bg: var(--half-bg);
		}
	}

	&.rating-35{
		.star:nth-child(5){
			--star-bg: var(--half-bg);
		}
	}

	&.rating-45{
		.star:nth-child(5){
			--star-bg: var(--half-bg);
		}
	}
}