.get-access-section{
	padding: 50px 0 50px;

	@media screen and (max-width: 767px){
		padding: 50px 0 50px;
	}
}

.get-access-block{
	width: calc(100% + 45px * 2);
	margin-left: -45px;
	margin-right: -45px;
	padding: 80px 90px;
	background: #EFEDFA;
	border-radius: 10px;

	.section-caption{
		margin-bottom: 42px;

		.sc-title{
			margin-top: 0;
			margin-bottom: 0;
		}

		.sc-subtitle{
			max-width: 920px;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 0;
		}

		@media screen and (min-width: 992px){
			.sc-subtitle{
				margin-top: 28px;
			}
		}
	}

	.block-footer{
		display: flex;
		justify-content: center;
	}

	@media screen and (max-width: 767px){
		padding: 50px 20px;
		margin: 0;
		width: 100%;

		.section-caption{
			.sc-title{
				line-height: 1.3;
			}

			.sc-subtitle{
				line-height: 1.5625;
			}
		}

		.block-footer{
			.btn{
				white-space: normal;
			}
		}
	}
}