.navigation-box {
	position: absolute;
	right: calc(100% + 25px);
	top: 0;
	z-index: 10;
	background: #FFFFFF;
	border: 1px solid #E9E9E9;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	flex-direction: column;
	transition: opacity .5s ease-in-out, visibility .5s ease-in-out;
	z-index: 60;

	@media screen and (max-width: 1399px) and (min-width: 768px){
		position: fixed;
		height: 60px;
		width: 860px;
		left: 50%;
		top: 90px;
		flex-direction: row;
		opacity: 0;
		transform: translate(-50%, 0);
		pointer-events: none;
		visibility: hidden;
		align-items: stretch;
		overflow: hidden;

		&.sticky{
			pointer-events: auto;
			transform: translate(-50%, 0);
			opacity: 1;
			visibility: visible;
		}

		.navigation-item{
			border-radius: 0 !important;
			align-items: center;
			justify-content: center;
			display: flex;

			svg{
				display: block;
				margin: 0;
			}

			.navigation-box__title{
				max-width: unset;
				margin-left: 12px;

				br{
					display: none;
				}
			}
		}

		@media screen and (max-width: 991px){
			width: 720px;
		}
	}

	@media screen and (max-width: 767px){
		border-radius: 0;
		position: fixed;
		height: 48px;
		width: calc(100vw + 2px);
		left: 50%;
		top: 86px;
		flex-direction: row;
		transform: translate(-50%);
		align-items: stretch;
		overflow: hidden;

		&.sticky{
			top: 66px;
		}

		@media screen and (max-width: 575px){
			top: 80px;

			&.sticky{
				top: 60px;
			}
		}

		.navigation-item{
			border-radius: 0 !important;
			padding: 0;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;

			.navigation-item__img{
				svg{
					display: block;
					width: 20px;
					height: 20px;
					margin-bottom: 5px;
				}
			}

			.navigation-box__title{
				font-size: 7px;
			}
		}
	}
}
.navigation-item {
	width: 100%;
	padding: 22px 26px;
	text-decoration: none;

	&:hover,
	&.active{
		background: #660091;
		box-shadow: 0px 3px 16px rgba(0, 0, 0, 0.04);
	}

	&:hover .navigation-box__title,
	&.active .navigation-box__title{
		color: #fff;
	}

	&:hover .navigation-item__img svg,
	&.active .navigation-item__img svg{
		fill: #fff;
	}

	&:first-child{
		border-radius: 10px 10px 0px 0px;
	}

	&:last-child{
		border-radius: 0px 0px 10px 10px;
	}
}

.navigation-item__img {
	svg{
		fill:#26252D;
	}
}

.navigation-box__title {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 500;
	font-size: 11px;
	line-height: 1.18;
	color: #26252D;
	max-width: 70px;
}