.header{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	background: #fff;
	z-index: 100;

	padding: 20px 0;
	box-shadow: 0px 3px 16px rgba(0, 0, 0, 0.04);
	transition: padding-top $t, padding-bottom $t;

	&.sticky{
		padding: 10px 0;
	}

	.header-inner{
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: calc(100% + 15px * 2);
		margin-left: -15px;
		margin-right: -15px;
		
		.header-block{
			padding: 0 15px;
		}
	}

	.header-left{
		display: flex;
		align-items: center;

		.logo-block{
			margin-right: 46px;
		}
	}

	.header-right{
		display: flex;
		align-items: center;

		.auth-btn{
			margin-right: 23px;
		}

		.btn{
			min-height: 46px;
			padding-left: 22px;
			padding-right: 22px;
			font-size: 14px;
		}
	}

	@media screen and (max-width: 1199px){
		.header-left{
			.logo-block{
				margin-right: 30px;
			}
		}
	}

	@media screen and (max-width: 575px){
		padding-left: 10px !important;
		padding-right: 10px !important;
	}
}

.logo-block{
	display: flex;
	align-items: center;
	color: #000;
	text-decoration: none !important;
	font-family: $main-font;

	img{
		display: block;
		height: 46px;
		width: auto;
		margin-right: 8px;
		flex: none;
	}

	.block-text{
		font-size: 24px;
		line-height: 1.2;

		strong{
			font-weight: bold;
			color: $accent;
		}
	}

	&:is(a){
		&:hover,
		&:focus{
			color: $accent;
		}
	}

	@media screen and (max-width: 575px){
		.header &{
			img{
				height: 40px;
				margin-right: 6px;
			}

			.block-text{
				font-size: 18px;
			}
		}
	}
}

.top-nav{
	> ul{
		display: flex;
		flex-wrap: wrap;
		font-family: $second-font;
		font-size: 14px;
		line-height: 1.214;
		margin: 0;
		font-weight: 500;

		> li{
			&:not(:last-child){
				margin-right: 3px;
			}

			> a{
				padding: 4px 11px;
				border-radius: 12px;
				color: #222;
				display: block;
				text-decoration: none;

				&:hover,
				&:focus{
					color: $accent;
				}
			}

			&.menu-item-has-children{
				position: relative;
				display: flex;
				align-items: center;

				&:after{
					content: '';
					display: block;
					width: 9px;
					height: 7px;
					background: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 9 7'%3E%3Cpath d='m5.02 6.12 3.76-3.76c.15-.15.22-.31.22-.53a.68.68 0 0 0-.22-.52L8.35.87a.76.76 0 0 0-1.05 0l-2.8 2.8L1.7.88a.76.76 0 0 0-1.05 0l-.44.45a.71.71 0 0 0-.21.52c0 .2.07.38.21.52l3.76 3.77c.15.14.32.21.53.21.2 0 .38-.08.52-.22Z' fill='%23660091'/%3E%3C/svg%3E") no-repeat center center / contain;
					transition: all $t;
					margin-left: -5px;
				}

				&:hover,
				&:focus-within{
					> .sub-menu{
						transform: translateY(0);
						opacity: 1;
						visibility: visible;
						pointer-events: auto;
					}

					&:after{
						transform: rotate(-180deg);
					}
				}
			}

			&.current-menu-item,
			&.current-menu-parent{
				> a{
					// background: $accent;
					// color: #fff;
					font-weight: 600;
					color: $accent;
				}
			}
			
			&.current-menu-item{
				> a{
					cursor: default;
				}
			}
		}
	}

	.sub-menu{
		transform: translateY(30px);
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		transition: all $t;
		width: 190px;
		padding: 20px 17px;
		position: absolute;
		left: -6px;
		top: calc(100% + 10px);
		background: #fff;
		border-radius: 4px;
		border: 1px solid #ECECEC;

		font-size: 14px;
		line-height: 1.25;
		font-family: $second-font;
		color: #222;
		font-weight: 500;

		.sub-menu{
			transform: translateX(30px);
			left: calc(100% + 17px);
			top: -20px;

			&:before{
				content: '';
				display: block;
				width: calc(17px * 2);
				height: 100%;
				position: absolute;
				top: 0;
				right: 100%;
				left: auto;
			}
		}

		li{
			margin-bottom: 15px;

			&:last-child{
				margin-bottom: 0;
			}

			a{
				color: inherit;
				text-decoration: none;

				&:hover,
				&:focus{
					color: $accent;
				}
			}

			&.current-menu-item,
			&.current-menu-parent{
				a{
					color: $accent;
					font-weight: 600;
				}
			}
			
			&.current-menu-item{
				a{
					cursor: default;
				}
			}

			&.menu-item-has-children{
				position: relative;
				display: flex;
				align-items: center;
				justify-content: space-between;
				cursor: pointer;

				&:after{
					content: '';
					display: block;
					width: 9px;
					height: 7px;
					background: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 9 7'%3E%3Cpath d='m5.02 6.12 3.76-3.76c.15-.15.22-.31.22-.53a.68.68 0 0 0-.22-.52L8.35.87a.76.76 0 0 0-1.05 0l-2.8 2.8L1.7.88a.76.76 0 0 0-1.05 0l-.44.45a.71.71 0 0 0-.21.52c0 .2.07.38.21.52l3.76 3.77c.15.14.32.21.53.21.2 0 .38-.08.52-.22Z' fill='%23660091'/%3E%3C/svg%3E") no-repeat center center / contain;
					transition: all $t;
					transform: rotate(-90deg);
					// margin-left: -5px;
				}

				&:hover,
				&:focus-within{
					> .sub-menu{
						transform: translateX(0);
						opacity: 1;
						visibility: visible;
						pointer-events: auto;
					}
				}
			}
		}

		&:before{
			content: '';
			display: block;
			width: 100%;
			height: 10px;
			position: absolute;
			left: 0;
			bottom: 100%;
		}
	}
}

.auth-btn{
	display: flex;
	align-items: center;
	color: #222;
	font-family: $second-font;
	white-space: nowrap;

	.btn-icon{
		width: 17px;
		height: 19px;
		display: block;
		fill: currentcolor;
		flex: none;
		margin-right: 9px;
	}

	.btn-text{
		font-size: 14px;
		line-height: 1.2;
	}

	&:hover,
	&:focus{
		color: $accent;
	}
}

.mobile-top-nav{
	position: absolute;
	left: 0;
	top: 100%;
	width: 100%;
	background: #fff;
	height: calc(100vh - 80px);
	transform: translateY(30px);
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	transition: all $t;
	overflow-y: auto;
	overscroll-behavior-y: contain;

	.sticky &{
		height: calc(100vh - 60px);
	}

	&.opened{
		transform: translateY(0);
		opacity: 1;
		visibility: visible;
		pointer-events: auto;
	}

	.auth-btn{
		margin-bottom: 45px;
	}

	.nav-inner{
		display: flex;
		flex-direction: column;
		min-height: 100%;
		padding: 27px 20px 39px;

		> ul{
			display: grid;
			grid-gap: 15px;

			> li{
				> a{
					font-size: 18px;
					line-height: 32px;
					color: #222;
					font-weight: 500;
				}

				&.current-menu-item,
				&.current-menu-parent{
					> a{
						color: $accent;
					}
				}
				
				&.current-menu-item{
					> a{
						cursor: default;
					}
				}

				&.menu-item-has-children{
					> a{
						display: flex;
						align-items: center;
						justify-content: space-between;

						&:after{
							content: '';
							display: block;
							width: 32px;
							height: 32px;
							border-radius: 50%;
							background: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 33'%3E%3Ccircle cx='16' cy='16.5' r='16' transform='rotate(-180 16 16.5)' fill='%23F7E3FF'/%3E%3Cpath d='M19.95 15.42l-5.3-5.3a.96.96 0 00-.74-.31c-.3 0-.54.1-.74.3l-.62.62a1.07 1.07 0 000 1.48l3.96 3.95-3.95 3.95a1.07 1.07 0 000 1.48l.62.61c.2.2.44.3.74.3a1 1 0 00.73-.3l5.31-5.3c.2-.21.3-.46.3-.75s-.1-.53-.3-.73z' fill='%23660091'/%3E%3C/svg%3E") no-repeat center center / contain;
							flex: none;
							margin-left: 32px;
							transition: all $t;
						}

						&.opened{
							color: $accent;

							&:after{
								transform: rotate(90deg);
							}
						}
					}
				}
			}
		}

		.sub-menu{
			padding: 7px 0;
			padding-left: 20px;
			font-size: 14px;
			line-height: 30px;
			display: none;
			font-weight: 500;
			font-family: $second-font;

			> li{
				> a{
					color: #222;
				}

				&.current-menu-item,
				&.current-menu-parent{
					> a{
						color: $accent;
					}
				}
				
				&.current-menu-item{
					> a{
						cursor: default;
					}
				}

				&.menu-item-has-children{
					> a{
						position: relative;
						display: flex;
						align-items: center;

						&:after{
							content: '';
							display: block;
							width: 9px;
							height: 7px;
							background: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 9 7'%3E%3Cpath d='m5.02 6.12 3.76-3.76c.15-.15.22-.31.22-.53a.68.68 0 0 0-.22-.52L8.35.87a.76.76 0 0 0-1.05 0l-2.8 2.8L1.7.88a.76.76 0 0 0-1.05 0l-.44.45a.71.71 0 0 0-.21.52c0 .2.07.38.21.52l3.76 3.77c.15.14.32.21.53.21.2 0 .38-.08.52-.22Z' fill='%23660091'/%3E%3C/svg%3E") no-repeat center center / contain;
							transition: all $t;
							margin-left: 10px;
						}

						&.opened{
							&:after{
								transform: rotate(-180deg);
							}
						}
					}
				}
			}
		}

		.nav-footer{
			padding-top: 32px;
			margin-top: auto;
		}
	}

	@media screen and (min-width: 992px){
		display: none;
	}
}